.fieldContainerLeft{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: var(--alignItemsFromStartToCenter);
}
.fieldContainerRight{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: var(--alignItemsFromEndToCenter);
}
.formLabel {
    margin-top: -1rem;
    font-size: 2rem;
    color: hsl(var(--textColor));
}
.inputFields {
    box-sizing: border-box;
    padding: 0 .5rem;
    color: hsl(var(--mainColorHue) 5% 10%);
    height: 3rem;
    width: 100%;
    border-radius: 1rem;
    border: .4rem solid hsl(0 0% 100%);
    outline: none;
}
.inputFields:focus, #referrer:focus {
    border: .4rem solid hsla(var(--mainColor), .5)
}
.errors {
    margin:.2rem 0 0 0;
    font-size: 1.3rem;
    max-width: max-content;
    color: hsl(var(--textColor));
    animation: bottomborderpulse 500ms infinite alternate-reverse;
}
