@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;800&display=swap');


:root {

  --mainColorHue: 200;
  --mainColorSat: 60%;
  --mainColorBri: 50%;
  --backgroundBrightness: 50%;
  --mainColor: var(--mainColorHue), var(--mainColorSat), var(--mainColorBri);
  --mainTint: var(--mainColorHue), var(--mainColorSat);
  --textColor: var(--mainColorHue) 5% 90%;
  --inputBackground: hsla(var(--mainColorHue), 5%, 100%, 1);
  --inputColor: var(--mainColorHue) 5% 10%;
  --iconBrightness: 95%;
  --globalFontSize: 12px;

  --heightTrailerbox: 47.5rem;
  --scaleEmbeddedVideo: .83;

  --border-radius-menu: 0 0 2rem 2rem;
  --border-radius-menubutton: 3rem 0 0 3rem;
  --border-radius-searchbutton: 0 3rem 3rem 0;
  --border-radius-account-menu:0 0 2rem 0;
  --alignItemsFromStartToCenter: flex-start;
  --alignItemsFromEndToCenter: flex-end;
  --alignitemscentertostart: center;
  --justify-content-start-evenly: flex-start;

  --flexdirectioncolumntorow: column;
  --flexdirectionrowtocolumn: row;
  --menustrokes-left-8rem-0: 8rem;
  --menu-items-width-56rem-100vw: 56rem;
  --border-radius-themes-menu: 0 0 2rem 0;
  --padding-menu: 0 0 1.4rem 0;
  --width-menu-8rem-100: 8rem;

  font-size: var(--globalFontSize);
  transition: font-size 700ms ease-in;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: hsl(0, 0%, 45%);
  opacity: 1; /* Firefox */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

::before, ::after {
  position: absolute;
  content: '';
}

body {
  width: 100vw;
  margin: 0;
  font-family: "Poppins", sans-serif;
  padding: 0;
}

.App {
  width: 100%;
  height: 100vh;
  padding-bottom: 2rem;
  background-color: hsl(var(--mainColorHue) 25% 20%);
  background-image: url("./assets/7253012.jpg");
  background-position: center;
  background-blend-mode: hard-light;
  transition: background-color 500ms;
  display: flex;
  position: relative;
  justify-content: center;
  text-align: center;
  overflow-x: hidden;
}

.outsideContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  animation: bla 1000ms linear forwards;
}
@keyframes bla {
  from {
    max-width: 100%;
  }
  to {
    max-width: 64rem;
  }
}
button {
  border: none;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: hsla(var(--mainColor), 1);
  filter: brightness(100%);
  transition: filter 200ms ease-out, background 500ms;
}
#firstLoad {
  width: 100vw;
  height: 100vh;
  background: hsl(var(--mainColorHue) 50% 50% / .6);
  color: hsl(var(--textColor));
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  border: none;
  outline: none;
  position: absolute;
  left:0;
  top:0;
}

  /* width */
::-webkit-scrollbar {
  width: .5rem;
  height: .5rem;
}
/* Track */
::-webkit-scrollbar-track {
  background: linear-gradient(to bottom, hsla(var(--mainTint), 30%, 0), hsla(var(--mainTint), 30%, 1) 30%, hsla(var(--mainTint), 30%, 1) 70%, hsla(var(--mainTint), 30%, 0));
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, hsla(var(--mainTint), 70%, 0), hsla(var(--mainTint), 70%, 1) 30%, hsla(var(--mainTint), 70%, 1) 70%, hsla(var(--mainTint), 70%, 0));
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsla(var(--mainTint), 25%, 1);
}

.errorMessage1 {
  margin-top: 3rem;
  font-size: 1.5rem;
  color: hsl(360, 100%, 50%);
  background-color: hsla(var(--mainTint), 5%, .9);
  animation: termpulse 1s infinite alternate;
}
footer {
  position: fixed;
  bottom: .2rem;
  font-size: 1rem;
  color: hsl(var(--mainColorHue) 10% 50% /.8);
}
@keyframes termpulse {
  0% {
    color: hsla(360, 50%, 50%, .9);
  }
  100% {
    color: white;
  }
}